alias n="nvim"
alias vpn_kill="sudo pkill openvpn"
alias ll="ls -alh"
alias ls='eza -lh --group-directories-first --icons=auto'
alias lsa='ls -a'
alias lt='eza --tree --level=2 --long --icons --git'
alias lta='lt -a'
alias ff="fzf --preview 'bat --style=numbers --color=always {}'"

###### hyprland monitors 

alias monitor_clamshell_home='hyprctl keyword monitor "DP-1,3840x1600@59.99400,,1"'
alias monitor_clamshell_work='hyprctl keyword monitor "DP-1,3440x1440@60,auto-up,1.25"'
alias monitor_standalone_jogica='hyprctl keyword monitor "eDP-1,2880x1800@120hz,0x0,1.67"'
alias monitor_standalone_disable='hyprctl keyword monitor "eDP-1, disable"'

