alias n="nvim"
alias vpn_kill="sudo pkill openvpn"
alias ll="ls -alh"
alias ls='eza -lh --group-directories-first --icons=auto'
alias lsa='ls -a'
alias lt='eza --tree --level=2 --long --icons --git'
alias lta='lt -a'
alias ff="fzf --preview 'bat --style=numbers --color=always {}'"
alias pbcopy='xclip -selection clipboard -i'
alias pbpaste='xclip -selection clipboard -o'   
###### hyprland monitors 

alias monitor_clamshell_home='hyprctl eval '\''hl.monitor({ output = "DP-1", mode = "3840x1600@59.99400", position = "auto", scale = 1 })'\'''
alias monitor_clamshell_work='hyprctl eval '\''hl.monitor({ output = "DP-1", mode = "3440x1440@60", position = "auto-up", scale = 1.25 })'\'''
alias monitor_standalone_lepolovo='hyprctl eval '\''hl.monitor({ output = "eDP-1", mode = "2880x1920@120", position = "0x0", scale = 1.6 })'\'' && omarchy display text size 16'
alias monitor_standalone_disable='hyprctl eval '\''hl.monitor({ output = "eDP-1", disabled = true })'\'''
alias monitor_coworking_dual='hyprctl eval '\''hl.monitor({ output = "DP-1", mode = "3840x2160@60", position = "auto-up", scale = 1 })'\'''
alias monitor_coworking_clamshell='hyprctl eval '\''hl.monitor({ output = "DP-1", mode = "3840x2160@60", position = "auto", scale = 1.25 })'\'''

######Renovatio#####
alias renovatio_aws_login='aws sts get-caller-identity --profile AdministratorAccess-631571736884'

######Entrio 
alias claude-entrio='CLAUDE_CONFIG_DIR=~/.claude-entrio claude'
alias claude-sevenm='CLAUDE_CONFIG_DIR=~/.claude claude'
